.list-item
  margin-left 30px

.list__tile
  height 48px
  font-size 14px

  .avatar
    min-width 0px
    max-width 32px

    img
      height 16px
      width 16px
      border-radius 0

.url
  color #999
